@model List<Core.Models.Course>

@if (User.IsInRole("Admin"))
{
	<a  asp-controller="Course" asp-action="AddCourse" class="btn btn-primary">Add Course</a>
}
<br />
<span class="text-danger">@ViewBag.Error</span>
<br />
<div class="flex-column w-100">
	@foreach(var course in Model)
	{
		

		<div class="card card-@course.Id" >
			<div class="card-body">
				<h5 class="h5"> @course.Name</h5>
				@if (User.IsInRole("Admin"))
				{
						
					<a asp-controller="Course" asp-action="UpdateCourse" asp-route-id="@course.Id" class="btn btn-dark">edit Course</a>
					<button value="@course.Id" type="button" onclick="DeleteCourse(@course.Id)" name="id" id="DeleteCourseButton"  class="btn btn-danger">Delete Course</button>
				}
				
				
			</div>
			
		</div>
		
		<br />
	}
	
</div>



	

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	function DeleteCourse(id) {

		$.ajax({
			type: "DELETE",
			data: { id:id },
			url: "/Course/DeleteCourse",
			success: (data) => {
				if (data.success) {
					$(`.card-${id}`).remove();
					showPopup(data.message, "green");

				} else {
					showPopup(data.message, "red");
				}

			},
			error: () => {


			}
		})
	}
</script>
<script>
	$(document).ready(function () {
		$("#DeleteCourseForm").on("submit", function (e) {
			
			
		})

	})


</script>