	@model List<Core.Models.Lesson>

@if(ViewBag.Error != null)
{
	<div class="text-danger">@ViewBag.Error</div>
}




@if ((User.IsInRole("Teacher") && ViewBag.TeacherId == ViewBag.Id) || (User.IsInRole("Student") && ViewBag.Teacher == true))
{
	if ((User.IsInRole("Teacher") && ViewBag.TeacherId == ViewBag.Id))
	{

		<a class="btn btn-primary" asp-action="AddLesson" asp-controller="Lesson">Add New Lesson</a>
	}

	<div class="d-flex flex-row">
		@if (Model == null)
		{
			<span class="text-danger">There is no lessons</span>
		}
		else
		{
				@foreach (var lesson in Model)
				{
					<div class="card card-@lesson.Id" style="width: 18rem;">
						<img class="card-img-top" src="/@lesson.Photo" alt="Card image cap">
						<div class="card-body">
							<h3>@lesson.Name</h3>
							<p class="card-text">@lesson.Description</p>
						</div>
						@if (ViewBag.TeacherId == ViewBag.Id)
						{
						
								<input type="hidden" name="id" value="@lesson.Id" />
								<a class="btn btn-primary" asp-action="GetLesson" asp-controller="Lesson" asp-route-id="@lesson.Id">View Lesson</a>
						@if (User.IsInRole("Teacher"))
						{
							<a class="btn btn-dark" asp-action="UpdateLesson" asp-controller="Lesson" asp-route-id="@lesson.Id">Edit Lesson</a>

							
								<input hidden id="lessonId" name="lessonId" value="@lesson.Id" />
							<button type="button" value="@lesson.Id" id="DeleteLessonButton" onclick="DeleteLesson(@lesson.Id)" class="btn btn-danger">Delete Lesson</button>
							
						}
						
						


						}
					</div>

				}
			}
		
		</div>
	}
@section Scripts {
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		function DeleteLesson(id) {

			$.ajax({
				type: "DELETE",
				data: { lessonId: id },
				url: "/lesson/deleteLesson",
				success: (data) => {
					if (data.success) {
						$(`.card-${id}`).remove();
						showPopup(data.message, "green");

					} else {
						showPopup(data.message, "red");
					}

				},
				error: () => {


				}
			})
		}
	</script>

}