@model List<Core.Models.Teacher>
@if (User.IsInRole("Admin"))
{
    <a asp-controller="user" asp-action="SignUpTeacher" class="btn btn-primary">Add Teacher</a>
}
@if (ViewBag != null)
{
    <span class="text-danger">@ViewBag.Error</span>
}




<div class="d-flex flex-row">
	
		@if (ViewBag.Teachers != null)
		{
            <script>
                console.log(@ViewBag)
            </script>
			foreach (var Teacher in ViewBag.Teachers)
            {
                <div class="card m-5" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Name: @Teacher.FirstName @Teacher.LastName</h5>
                        <p class="card-text">Course: @Teacher.Course.Name</p>
                        <img class="card-img" height="250" width="250" src="/@Teacher.Photo" />
                        
                        @if (User.IsInRole("Student"))
                        {
                        if (ViewBag.CheckTeachers.Contains(Teacher.Id))
                        {
                            <a asp-controller="Lesson" asp-action="GetLessons" asp-route-id="@Teacher.Id" class="btn btn-dark">Lessons</a>

                        }
                        else
                        {
                            <button value="@Teacher.Id" type="button" onclick="AddTeacherToStudent('@Teacher.Id')" name="TeacherId" id="AddTeacher" class="btn btn-primary">Add Teacher</button>

                        }
                                
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            
                            <button value="@Teacher.Id" type="button" onclick="DeleteTeacher('@Teacher.Id')" name="teacherId" id="DeleteTeacherButton" class="btn btn-danger">Delete Teacher</button>

                            
                        }
                        <br />
                        @if (User.IsInRole("Teacher") && ViewBag.Teacher == Teacher.Id)
                        {
                            <a asp-controller="Lesson" asp-action="GetLessons" asp-route-id="@Teacher.Id" class="btn btn-primary">Lessons</a>
                            
                            <button value="@ViewBag.Teacher" id="DeleteLessons" value="@Teacher.Id" name="teacherId" type="button" onclick="DeleteAllLessons('@Teacher.Id')" class="btn btn-danger">Delete All Lessons</button>
                            
                        }
                    </div>
                </div>
            }
        }
</div> 

    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        function DeleteTeacher(id) {
            
            $.ajax({
                type: "DELETE",
                data: { TeacherId: id },
                url: "/user/DeleteTeacher",
                success: (data) => {
                    if (data.success) {

                        showPopup(data.message, "green");
                        setTimeout(() => {
                            window.location.href = "/user/GetAllTeachers"
                        }, 1500)

                    } else {
                        showPopup(data.message, "red");
                    }
                },
                error: () => {
                    
                },}
             )}
                
        </script>
        <script>
        function AddTeacherToStudent(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddTeacherToStudent","user")',
                data: { TeacherId :id},
                success: (data) => {
                    if (data.success) {

                        showPopup(data.message, "green");
                        setTimeout(() => {
                            window.location.href = "/user/GetAllTeachers"
                        }, 1500)

                    } else {
                        showPopup(data.message, "red");
                    }
                },
                error: () => {

                    
                }
            });
            }
        </script>

        <script>
        function DeleteAllLessons(id) {
            $.ajax({
                type: "DELETE",
                data: { TeacherId: id },
                url: "/Lesson/DeleteAllLessons",
                success: (data) => {
                    if (data.success) {

                        showPopup(data.message, "green");
                        setTimeout(() => {
                            window.location.href = "/user/GetAllTeachers"
                        }, 1500)

                    } else {
                        showPopup(data.message, "red");
                    }
                },
                error: () => {
                    

                }
            })
        }

        
    </script>
    }
